<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  </head>
  <body>
    <div class="navbar">
      <h2>AI Resume System</h2>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      <i class="fa-solid fa-bars menu-toggle"></i>
    </div>
    <div style="margin-top: 100px">
      <!-- existing page content here -->
      <div class="welcome-box">
        <i class="fa-solid fa-robot icon"></i>
        <h1>AI Resume Screening System</h1>
        <p>Smart • Automated • Fast Hiring Solution</p>

        <a href="/login/">
          <button class="primary-btn">Get Started</button>
        </a>
      </div>
    </div>
  </body>
</html>
